body {
    background-color: #eff9fa; /* Cor da pagina*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.minha-imagem {
    position: relative; 
    left: 1000px;         
    top: 400px;         
  }
main h1 {
    background-color: none;
    text-align: center;
    font-size: 70px
}
main h2 {
    background-color: none;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
  
}   
form {
    text-decoration: none;
    font-weight: bold;
    color: #790b0b;
    background-color:none;
    padding: 10px 200px;
       
}
button {
    background-color: #4cf0b9;
    padding: 10px;
    color: #4b21e2;
    text-align: center;
    font-size: 16px
}

.pai {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.filho {

}