body {
    background-color: #0643b6; /* Cor da pagina*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

main h1 {
    background-color:none;
    text-align: center;
    font-size: 25px
}

main h2 {
    background-color: none;
    text-align: center;
    font-size: 20px;
    
}   

form {
    text-decoration: none;
    color: #790b0b;
    background-color: rgb(48, 238, 10);
    padding: 30px 9px;
        

}
button {
    background-color: #4cf0b9;
    padding: 10px;
    color: #4b21e2;
    text-align: center;
    font-size: 16px
}